@use "./../../partials/mixins";

main {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: #f7f8fd;

  .three-container {
    background-color: #afe6fe;
    grid-column: 1/6;
    width: 100%;
    @include mixins.center-col;
    @include mixins.media(600px) {
      display: none;
    }

    .auth__sidePanel-container {
      @include mixins.center-col;
      .go-to-home {
        text-decoration: none;
        color: var(--react-blue);
      }
      h1 {
        font-family: "Spectral", serif;
        font-size: clamp(3rem, 7vw, 4.5rem);
        margin-top: clamp(-7rem, 5vh, -4rem);
        color: var(--react-blue);
      }
    }
  }

  .loging-container {
    grid-column: 6/13;
    width: 100%;
    text-align: center;
    @include mixins.center-col;
    position: relative;

    @include mixins.media(600px) {
      grid-column: 1 / span 12;
    }

    #loginWave {
      position: absolute;
      top: 0;
      left: 0;
      aspect-ratio: 900/300;
      display: none;

      @include mixins.media(600px) {
        display: block;
      }
    }

    #authForm {
      @include mixins.center-col;
      gap: 2rem;
      width: 100%;
      text-align: center;

      p {
        text-align: center;
        font-size: 0.85rem;
        max-width: 90%;
      }

      .input-fields-container {
        @include mixins.center-col;
        gap: 0.7rem;
        min-width: 50%;
        @include mixins.media(500px) {
          padding: 1rem 0;
          min-width: 85%;
        }
        .authForm--input-field {
          width: 100%;
        }

        .input-fields-container__password-container {
          width: 100%;
          height: 100%;
        }
      }

      .authForm__error {
        color: #f33800;
      }

      .authForm__reset-link {
        background-color: #fffffe;
        outline: none;
        border: none;
        font-size: 0.85rem;
        color: #6247ea;
        align-self: flex-start;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .buttons-container {
    width: 100%;
    @include mixins.center-col;
    gap: 0.7rem;
    margin-top: 1.5rem;
  }

  .profile-container {
    grid-column: 6/13;
    width: 100%;
    text-align: center;
    @include mixins.center-col;
    gap: 3rem;
    @include mixins.media(600px) {
      grid-column: 1 / span 12;
    }

    .profile-container__title {
      position: relative;
      .lottie-confetti {
        position: absolute;
        top: -9rem;
        pointer-events: none;
      }
      h1 {
        font-size: 1.4rem;
      }
      p {
        font-size: 0.9rem;
        color: var(--dark-gray-7);
      }
    }
    .profile-container__body {
      width: 100%;
      .image-container {
        width: 100%;
        @include mixins.center-col;

        img {
          width: 7.8rem;
          height: 7.8rem;
          border-radius: 50%;
          padding: 9px;
          @include mixins.lightShadow;
          z-index: 1;
          position: relative;
        }
        .image-overlay {
          width: 7.8rem;
          height: 7.8rem;
          border-radius: 50%;
          padding: 9px;
          @include mixins.lightShadow;
          @include mixins.center-col;
          color: white;
          font-weight: bold;
          z-index: 1;
          background-color: #2020208f;
          position: absolute;
          cursor: pointer;
          opacity: 0;
          transition: opacity 300ms ease;

          &:hover {
            opacity: 1;
          }
        }
      }

      #profileInfoForm {
        padding-top: 2rem;
        @include mixins.center-col;
        gap: 0.85rem;
        width: 100%;
      }

      .button-container {
        width: 100%;
        @include mixins.center-col;
        padding-top: 2rem;
      }
    }
  }
}

.login-successfull {
  width: 100%;
  height: 100%;
  @include mixins.center-col;

  p {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.7rem;
  }

  .login-successfull__lottie {
    width: 13rem;
    height: 13rem;
  }
}
