rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, create: if true;
      allow update: if request.auth.uid != null;
    }
    match /conversations/{conversationId} {
      allow read, write: if request.auth.uid != null
    }
  }
}

/////////////////////////////////////////////////////////
// Explanation on these security rules
/////////////////////////////////////////////////////////
//              this allows non-logged in users to create a user profile
//              allows only logged in users to make changes in the "users" collection
//              allows only logged in users to create new conversations