@use "./../../partials/mixins";

.chat-container__profile {
  width: 95%;
  height: 90%;
  overflow: hidden;
  background: white;
  justify-self: center;
  align-self: center;
  @include mixins.mediumShadow;
  border-radius: 12px;

  .chat-container__profile__inner {
    width: 100%;
    height: 100%;
    @include mixins.center-col;
    padding-bottom: 10rem;

    .mobile-navigate-back {
      border: 0;
      outline: 0;
      background-color: inherit;
      cursor: pointer;
      padding-bottom: 3rem;
      text-decoration: none;
      @include mixins.center-row;
      border-radius: 8px;
      margin-right: 1rem;
      transition: all ease-in-out 200ms;
      gap: 0;
      svg {
        transform: rotate(180deg);
      }
      &:hover {
        gap: 0.4rem;
      }
    }

    .buttons-container {
      @include mixins.center-col;
      gap: 0.7rem;
    }
  }
}
