@use "./../../styles/partials/mixins";

.chat-container {
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% auto;

  .chat-container__header {
    width: 100%;
    border: 1px solid black;
  }

  .chat-container__body {
    width: 100%;
    height: 100%;
    border: 1px solid black;

    display: grid;
    grid-template-columns: 30% 1fr;
    .side-panel {
      border: 1px solid black;
    }

    .messages-panel {
      border: 1px solid black;
    }
  }
}
